.button-action {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @white;
  text-decoration: none;
  text-align: center;
  margin: 0;
  display: block;
  .oswald-regular;

  @media @tablet-width {
    font-size: 20px;
    line-height: 20px;
    width: 250px;
  }

  &:active {
    opacity: 0.3;
  }
}
