.description__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .wrapper;
}

.description__title {
  display: block;
  font-size: 36px;
  line-height: 40px;
  color: @black;
  margin: 27px 0px;
  padding: 0;
  .oswald-regular;
}

.description__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.description__item {
  display: block;
  margin: 20px 0px;
  padding: 5px 0px;
}

.description__item p:first-child {
  display: none;
}

.description__item p:last-child {
  font-size: 14px;
  line-height: 18px;
  color: @grey-input;
  display: block;
  margin: 0;
  padding: 0;
  width: 200px;
  .arial;
}

.description__item-helper {
  display: none;
}

@media (min-width: @tablet-width) {

  .description__title {
    font-size: 60px;
    line-height: 60px;
  }

  .description__list {
    display: grid;
    grid-template-columns: 250px 260px;
    grid-template-rows: 280px 280px;
    row-gap: 30px;
    column-gap: 130px;
  }

  .description__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 190px;
  }

  .description__item p:first-child {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: "Oswald-Regular", Arial, sans-serif;
    color: @grey;
    font-size: 280px;
    line-height: 280px;
    top: -30px;
    right: 9px;
    z-index: -1;
  }

  .description__item p:last-child {
    width: 230px;
    font-size: 16px;
    line-height: 24px;
  }

  .description__item:last-of-type p:last-child {
    width: 260px;
    font-size: 16px;
    line-height: 24px;
  }

  .description__item-helper {
    display: block;
  }
}
