.diet-direction {
  width: 100%;

  @media @desktop-width {
    margin-bottom: 33px;
  }
}

.diet-direction__wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 30px;
  .wrapper;

  @media @desktop-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
