.example-slider {
  background-color: @grey-bg-example;
  display: block;
  margin-bottom: 40px;
}

.example-slider__wrapper {
  display: flex;
  flex-direction: column;
}

.example-slider__list {
  list-style: none;
  margin-bottom: 30px;
  padding: 0;
  display: flex;
}

.example-slider__toggles {
  font-family: "Oswald-Regular", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
  margin-bottom: 30px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 200px;
  align-self: center;
}

@media (min-width: @tablet-width) {
  .example-slider__item img {
    display: none;
  }

  .example-slider__toggles {
    width: 570px;
    align-self: flex-start;
    padding-left: 60px;
    font-size: 20px;
    line-height: 30px;
  }

}
