.extra-goods {
  width: 100%;
  overflow: hidden;

  @media @desktop-width {
    margin-bottom: 80px;
  }

  @media @desktop-width {
    margin-bottom: 98px;
  }
}

.extra-goods__wrapper {
  display: flex;
  flex-direction: column;
  .wrapper;

  @media @desktop-width {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.extra-goods__title {
  margin-bottom: 7px;

  @media @tablet-width {
    margin-bottom: 42px;
    padding-left: 73px;
  }

  @media @desktop-width {
    margin-bottom: 55px;
    padding-left: 41px;
  }
}

.extra-goods__list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid @grey-border;
  border-bottom: 1px solid @grey-border;

  li {

    &:not(:first-child) {
      border-top: 1px solid @grey-border;
    }
  }

  @media @tablet-width {
    border-left: 1px solid @grey-border;
    border-right: 1px solid @grey-border;
    gap: 4px;
  }

  @media @desktop-width {
    border-left: none;
    border-right: none;
    width: 893px;
    justify-content: center;
  }
}

.extra-goods__item {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;

  @media @tablet-width {
    padding: 20px 40px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto 323px auto;
  }

  @media @desktop-width {
    padding: 14px 0;
    grid-template-rows: auto;
    grid-template-columns: auto 151px 116px auto;
  }

  p {

    &:first-of-type {

      @media @tablet-width {
        display: block;
        justify-self: end;
      }

      @media @desktop-width {
        justify-self: start;
      }
    }

    &:last-of-type {

      @media @desktop-width {
        padding-left: 30px;
        margin-left: 36px;
      }
    }
  }
}

.extra-goods__item-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @grey-checkbox;
  width: 100%;
  .oswald-regular;

  @media @tablet-width {
    width: 165px;
    font-size: 20px;
    line-height: 20px;
  }

  @media @desktop-width {
    margin-right: 130px;
  }
}

.extra-goods__item-description {
  display: block;
  font-size: 14px;
  line-height: 14px;
  color: @grey-input;
  .arial;

  @media @tablet-width {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
  }

  @media @desktop-width {
    display: block;
    justify-self: start;
  }
}

.extra-goods__item-link {
  padding: 10px 0;
  width: 100%;

  @media @tablet-width {
    margin-top: 10px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  @media @desktop-width {
    width: 244px;
    margin: 0;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
