.goods-card {
  width: 100%;
  width: inherit;
  display: flex;
  flex-direction: column;
  border-top: 1px solid @grey-border-catalog;
  padding-bottom: 20px;
  padding-top: 20px;
  align-items: flex-end;

  @media @tablet-width {
    display: block;
    width: 324px;
    height: 511px;
  }

  @media @desktop-width {
    width: 245px;
    height: 512px;
  }
}

.goods-card__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @grey-checkbox;
  text-decoration: none;
  width: 80px;
  text-align: left;
  .oswald-regular;

  @media @tablet-width {
    font-size: 20px;
    line-height: 24px;
  }

  @media @desktop-width {
    font-size: 20px;
    line-height: 21px;
  }
}

.goods-card__properties {
  font-size: 12px;
  line-height: 16px;
  color: @grey-input;
  margin: 10px 0;
  .arial;

  @media @tablet-width {
    font-size: 16px;
    line-height: 16px;
  }
}

.goods-card__button {
  padding: 10px 0px;
}
