.goods-card {
  width: 100%;
  width: inherit;
  display: flex;
  flex-direction: column;
  border-top: 1px solid @grey-border-catalog;
  padding-bottom: 20px;
}

.goods-card__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @grey-checkbox;
  text-decoration: none;
  width: 80px;
  .oswald-regular;
}

.goods-card__properties {
  font-size: 12px;
  line-height: 16px;
  color: @grey-input;
  .arial;
}

.goods-card__button {
  padding: 10px 0px;
}
