.logo {
  display: flex;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  picture {
    margin-right: 60px;
  }
}

.logo__img {

  &--text {

    @media @tablet-width {
      display: none;
    }
  }

  &--icon {

    @media @tablet-width {
      width: 174px;
      height: 52px;
    }

    @media @desktop-width {
      width: 202px;
      height: 60px;
    }
  }
}
