.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &--closed {

    .main-navigation__list {
      display: none;
    }
  }

  @media @tablet-width {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media @desktop-width {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main-navigation__toggle {
  position: absolute;
  top: -43px;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  top: 0;
  left: -23px;

  @media @tablet-width {
    display: none;
  }
}

.main-navigation--opened .main-navigation__toggle::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  top: 0;
  left: -22px;

  @media @tablet-width {
    display: none;
  }
}

.main-navigation--nojs .main-navigation__toggle {
  display: none;
}

.main-navigation__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  @media @tablet-width {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 36px;
  }

  @media @desktop-width {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main-navigation__item {
  display: block;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
  width: 320px;
  border-top: 1px solid @grey-border-header-mobile;
  padding: 23px 0;
  text-align: center;
  .oswald-medium;

  @media @tablet-width {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    border-top: none;
    width: auto;
    .oswald-regular;
  }

  @media @desktop-width {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-navigation__link {
  text-decoration: none;
  color: @black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--white {

    @media @desktop-width {
      color: @white;
    }
  }
}
