.order-all {
  text-align: center;
  padding: 156px 0;
  background-image: url("../img/catalog-gift-mobile@1x.jpg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media @tablet-width {
    background-image: url("../img/catalog-gift-tablet@1x.jpg");
    width: 708px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 148px 0;
  }

  @media @desktop-width {
    background-image: url("../img/catalog-gift-desktop@1x.jpg");
    background-size: cover;
    width: 243px;
    margin: 0;
    flex-direction: column;
    align-items: center;
    padding: 115px 0;
  }
}

.order-all__gift {
  display: block;
  color: @white;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  width: 161px;
  position: relative;
  transform: translateY(73px);
  .arial;


  @media @tablet-width {
    text-align: left;
    margin-left: 420px;
    transform: translate(5px, 2px);
  }

  @media @desktop-width {
    margin: 0;
    text-align: center;
    transform: translate(-2px, 73px);
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../img/icon_gift.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 78px;
    height: 80px;
    top: -132px;
    left: 40px;

    @media @tablet-width {
      width: 80px;
      height: 83px;
      top: -15px;
      left: -352px;
    }

    @media @desktop-width {
      top: -133px;
      left: 42px;
    }
  }
}
