.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  .wrapper;
}

.page-footer__htmlacademy-link {
  text-decoration: none;
  color: @grey-input;
  font-size: 16px;
  line-height: 18px;
  .arial;
}
