.questionnaire {
  display: flex;
  flex-direction: column;

  @media @tablet-width {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media @desktop-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.questionnaire__cat {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media @desktop-width {
    flex-direction: row;
  }
}

.questionnaire__cat-data-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: @grey-input;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  border-bottom: 1px solid @grey-bg;
  border-width: 100%;
  .oswald-regular;

  @media @tablet-width {
    font-size: 20px;
    line-height: 30px;
    border-bottom: none;
  }

  @media @desktop-width {
    width: 569px;
  }
}

.questionnaire__cat-data-item {
  margin: 30px 0;
  padding: 0;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    display: block;
    margin-left: 15px;
    height: 46px;
    border: 1px solid @pale-grey-border;
    order: 2;

    &:hover {
      border: 1px solid @grey-border;
    }

    &:focus {
      border: 2px solid @grey-input;
    }
  }

  label {
    display: block;
  }
}

.questionnaire__diet {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid @grey-bg;
  border-width: 100%;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey-checkbox;
  .oswald-regular;

  @media @tablet-width {
    font-size: 20px;
    line-height: 30px;
    border: 1px solid @grey-bg;
    padding-left: 30px;
    margin-bottom: 60px;
  }

  @media @desktop-width {
    width: 569px;
    transform: translateY(29px);
    padding-top: 20px;
    margin-left: 80px;
  }
}

.questionnaire__diet-type {
  margin: 15px 0;
  display: flex;
}

.questionnaire__diet-type-label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 50px;
  line-height: 30px;
}

.questionnaire__owner-data {
  display: flex;
  flex-direction: column;
}

.questionnaire__owner-data-title {
  max-width: 205px;

  @media @tablet-width {
    margin-bottom: 60px;
    max-width: 352px;
  }

  @media @desktop-width {
    max-width: 600px;
  }
}

.questionnaire__owner-data-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey-input;
  gap: 30px;
  display: flex;
  flex-direction: column;
  .oswald-regular;


  @media @tablet-width {
    font-size: 20px;
    line-height: 30px;
    gap: 0;
  }

  @media @desktop-width {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.questionnaire__owner-data-item {
  display: flex;
  align-items: center;

  @media @tablet-width {
    margin: 0;
    margin-bottom: 30px;
  }

  @media @desktop-width {
    width: auto;
    margin: 0;
    margin-bottom: 30px;
  }
}

.questionnaire__owner-data-label {
  display: block;
  width: 70px;
  margin-right: 10px;

  @media @tablet-width {
    width: 90px;
  }
}

.questionnaire__owner-data-input {
  width: 100%;
  display: block;
  margin-left: 15px;
  height: 46px;
  border: 1px solid @pale-grey-border;
  order: 2;

  &:hover {
    border: 1px solid @grey-border;
  }

  &:focus {
    border: 2px solid @grey-input;
  }

  @media @desktop-width {
    width: 470px;
  }
}

.questionnaire__comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.questionnaire__comment-title {
  margin-bottom: 30px;

  @media @tablet-width {
    margin-bottom: 60px;
  }
}

.questionnaire__comment-textarea {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey-input;
  padding: 10px 10px;
  border: 1px solid @pale-grey-border;
  .oswald-regular;

  @media @tablet-width {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    border: 1px solid @grey-border;
  }

  &:focus {
    border: 2px solid @grey-input;
  }
}

.questionnaire__extra {
  display: flex;
  flex-direction: column;

  @media @tablet-width {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 80px;
  }

  @media @desktop-width {
    gap: 30px;
    margin-bottom: 70px;
  }
}

.questionnaire__extra-title {
  margin-bottom: 40px;

  @media @tablet-width {
    max-width: 280px;
  }
}

.questionnaire__extra-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;
  gap: 15px;
  margin-bottom: 34px;
  .oswald-regular;

  @media @tablet-width {
    font-size: 20px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 30px;
    column-gap: 150px;
    row-gap: 30px;
    margin-bottom: 50px;
  }

  @media @desktop-width {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.questionnaire__extra-label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 45px;
  line-height: 30px;

  @media @tablet-width {
    line-height: 30px;
    padding-left: 50px;
  }
}

.questionnaire__submit-button {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;

  @media @tablet-width {
    font-size: 20px;
    line-height: 0;
    height: 52px;
    margin-right: 100px;
  }

  @media @desktop-width {
    width: 568px;
  }
}

.questionnaire__remark {
  font-size: 14px;
  line-height: 16px;
  color: @black;
  .arial;
  align-self: center;

  @media @tablet-width {
    font-size: 16px;
    line-height: 16px;
    width: 180px;
    display: block;
  }
}
