.slider-container {

  @media @desktop-width {
   background-image: linear-gradient(to right, #F2F2F2 60%, #EAEAEA 40%);
  }
}

.slider-container__wrapper {

  @media @desktop-width {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .wrapper;

  }
}
