.table {
  font-size: 12px;
  line-height: 16px;
  color: @grey-input;
  .arial;
  transform: translate(10px, -6px);

  @media @tablet-width {
    font-size: 16px;
    line-height: 16px;
    width: 250px;
    height: 100px;
    transform: translate(-1px, -10px);
  }

  @media @desktop-width {
    width: 174px;
    margin-bottom: 30px;
    transform: translate(2px, -4px);
  }
}

.table__row {
  td {
    @media @tablet-width {
      border-bottom: 1px solid @grey-border;
    }
  }
}

.table__value {
  text-align: right;
}
