.title-style {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 26px;
  color: @black;
  display: block;
  .oswald-regular;
}

.title-style::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  height: 2px;
  background: @green;
}

.title-style::after {
  margin-left: 25px;
}


@media @tablet-width {
  .title-style::before {
    content: "";
    width: 30px;
    height: 2px;
    background: @green;
  }

  .title-style::before {
    margin-right: 25px;
  }
}
